<!-- https://bootsnipp.com/snippets/M2Baa -->
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="container">
      <h1 class="well">Login</h1>
    <div class="col-lg-12 well">
        <div class="row">
          <div class="col-sm-6 form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
          </div>
          <div class="col-sm-6 form-group">
            <%= f.label :password %><br />
            <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
          </div>
          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
        </div>
        <div class="row">       
          <div class="col-sm-12 text-center">
            <%= f.submit "Login", class: "btn btn-block btn-info" %>
          </div>
        </div>          
        <div class="or-text">
          <div class="or-text-row">
            <div class="or-text-line">
              <button type="button" class="btn btn-default btn-circle" disabled="disabled">or</button>
            </div>
          </div>
        </div>
        <div class="row"> 
          <div class="col-sm-4">
            <%=link_to user_facebook_omniauth_authorize_path do%>
              <div class="btn-group">
                <button type="button" class="btn btn-primary"><i class="fa fa-facebook"></i>Sign in with Facebook</button>
              </div>
            <%end%>  
          </div>
          <div class="col-sm-4">
            <%=link_to user_google_oauth2_omniauth_authorize_path do%>
              <div class="btn-group">
                <button type="button" class="btn btn-danger"><i class="fa fa-google-plus"></i>Sign in with GooglePlus</button>
              </div>
            <%end%>  
          </div>
          <div class="col-sm-4">
            <div class="btn-group">
              <button type="button" class="btn btn-info"><i class="fa fa-twitter"></i>Sign in with Twitter</button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="btn-group">
               <%= render "users/shared/links" %>
              </div>
            </div>
          </div>  
        </div>  
    </div>
  </div>
<% end %>

<style type="text/css">
  @import "font-awesome.min.css";
@import "font-awesome-ie7.min.css";
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@-ms-viewport       { width: device-width; }
/*css for login form page*/
    .or-text-row {
    display: table-row;
  }
  .or-text {
    display: table;     
    width: 100%;
    position: relative;
    margin: 20px 0;
  }
  .or-text-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
  }
  .or-text-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #e8e8e8;
    z-order: 0;
  }
  .or-text-line {    
    display: table-cell;
    text-align: center;
    position: relative;
    width: 100%;
  }
  .or-text-line p {
    margin-top:10px;
  }
  .btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 2px 0;
    font-size: 17px;
    line-height: 1.428571429;
    border-radius: 15px;
  } 
  .btn-group{margin-bottom: 5px;}
  .fa{padding-right: 10px;}
</style>
