<%= form_for :csv_exports,:url => {:controller => "homes", :action => "csv_exports"},:html=>{:method => 'GET',:id=>"csv_exports", formet: :csv} do |f|%>
<div class="panel-body">
  <div class="row">
    <div class="form-group col-sm-4">
      <label for="reg_input_name" class="req">Start Date</label>
       <%= f.date_field :start_date, :class =>"form-control start-date" %>
    </div>
    <div class="form-group col-sm-4">
      <label for="reg_input_name" class="req">End Date</label>
       <%= f.date_field :end_date, :class =>"form-control end-date" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-8 text-center" style="margin-bottom: 10px;">
    <%= button_tag( 'Download CSV', :value => 'csv', :name => 'format', :class=>"btn btn-primary" ) %>
  </div>
  <div class="col-sm-4"></div>
</div>
<%end%>