<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand">Assignment</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class=""><a href="/">Home</a></li>
        <li class="active">
        	<%= link_to "Csv Export", csv_exports_homes_path, :class=>""%>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-link" data-toggle="modal" data-target="#skuModel"><i class="fa-li fa fa-spinner fa-spin" style="top:17px;"></i></span> SKU Combination Creation</a></li>
        <li><a class="nav-link" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-fw fa-sign-out"></i></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- Logout Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <%= link_to('Logout', destroy_user_session_path, method: :delete,class: "btn btn-primary") %>
                    <!-- <a class="btn btn-primary" href="/users/sign_in">Logout</a> -->
            </div>
        </div>
    </div>
</div>
<!-- sku combination model -->
<div class="modal fade" id="skuModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
            <%= form_tag data_csv_csv_datums_path, multipart: true do %>
              <div class="row">
                <div class="col-sm-12">
                  <div class="panel panel-white">
                  <div class="panel-heading">
                    <h4 class="panel-title">CSV Import</h4>
                  </div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="form-group col-sm-12">
                          <label for="reg_input_name" class="req">Browse File</label>
                          <%= file_field_tag :file %>
                        </div>
                        <div class="col-sm-12">
                        	<label>Sku Denomination</label>
                          <%=text_field_tag :sku_denomination, "", class: "form-control denomination"%>
                        </div>
                      </div>
                      <div class="row" style="margin-top: 10px;">
                        <div class="text-center">
                          <%= submit_tag "Import CSV", :class=> "btn btn-info"%>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <%end%>
		    </div>
		</div>
		<style type="text/css">
			.star{
		color: red;
		margin-left: 2px;
	}
	.denomination{
		width: 563px;
		margin-left: 12px;
	}
</style>